{
    auto_https {$AUTO_HTTPS:disable_redirects}
	frankenphp {
		worker /app/public/index103.php
	}
}

# Direct HTTPS access
https://localhost {
    log
    encode zstd br gzip
    root public/

    php_server {
        try_files {path} index103.php
    }
}

# HTTP access for Traefik
http://localhost {
    log
    encode zstd br gzip
    root public/

    php_server {
        try_files {path} index103.php
    }
}
